openapi: 3.1.0
info:
  title: WSAPI API
  description: A RESTful API wrapper for WhatsApp functionality
  version: 1.0.0
  license:
    name: Proprietary
    url: https://wsapi.chat/terms-of-service
servers:
  - url: https://api.wsapi.chat
    description: API v1
security:
  - ApiKeyHeader: []
tags:
  - name: Instance
    description: Endpoints for managing WhatsApp instances, like changing settings, restarting, obtaining an API Key for that specific instance. This functionality can also be done in the subscrpitions/instances dashboard in WSAPI website.
  - name: Session
    description: Endpoints for managing WhatsApp session state, including login, logout, and session status. This functionality can also be done in the subscrpitions/instances dashboard in WSAPI website.
  - name: Account
    description: Endpoints for managing WhatsApp account settings, including profile information, presence, and status
  - name: Messages
    description: Endpoints for sending and managing different types of messages (text, images, video, audio, location, stickers, etc.). It also provides endpoints to edit, delete, mark as read and star messages.
  - name: Media
    description: Endpoints for downloading media received via webhooks
  - name: Chats
    description: Endpoints for managing WhatsApp chats, including presence, archiving, pinning, ephemeral settings
  - name: Groups
    description: Endpoints for managing WhatsApp groups, including creation, modification, and participant management
  - name: Contacts
    description: Endpoints for managing WhatsApp contacts, including contact information, address book
  - name: Users
    description: Endpoints for retrieving user information, including user profiles
  - name: Calls
    description: Endpoints for managing WhatsApp calls
paths:
  /account/info:
    get:
      operationId: getAccountInfo
      tags:
        - Account
      summary: Get account information
      description: Retrieve the current account information including ID, name, and status.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  jid:
                    type: string
                    description: Account ID
                  name:
                    type: string
                    description: Account name
                  status:
                    type: string
                    description: Account status
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/name:
    put:
      operationId: setAccountName
      tags:
        - Account
      summary: Set account name
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: New account name
      responses:
        '204':
          description: Account name updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/picture:
    post:
      operationId: setAccountPicture
      tags:
        - Account
      summary: Set account profile picture
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pictureBase64
              properties:
                pictureBase64:
                  type: string
                  description: Base64 encoded image data
      responses:
        '201':
          description: Profile picture updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Picture ID
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/presence:
    put:
      operationId: setAccountPresence
      tags:
        - Account
      summary: Set account presence
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  description: Presence status
                  enum:
                    - available
                    - unavailable
      responses:
        '204':
          description: Presence updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /account/status:
    put:
      operationId: setAccountStatus
      tags:
        - Account
      summary: Set account status
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  description: Account status message
      responses:
        '204':
          description: Status updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /calls/{callId}/reject:
    put:
      operationId: updateCallsReject
      tags:
        - Calls
      summary: Reject an incoming call
      parameters:
        - name: callId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectCallRequest'
      responses:
        '204':
          description: Call rejected successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats:
    get:
      operationId: getChats
      tags:
        - Chats
      summary: List all WhatsApp chats
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: List of chats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}:
    get:
      operationId: getChat
      tags:
        - Chats
      summary: Get chat information
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Chat information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteChat
      tags:
        - Chats
      summary: Delete chat
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Chat deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/picture:
    get:
      operationId: getChatsPicture
      tags:
        - Chats
      summary: Get chat picture
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Chat profile picture
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPicture'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/business:
    get:
      operationId: getChatsBusiness
      tags:
        - Chats
      summary: Get chat business profile
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Business profile information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatBusinessProfile'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/presence/set:
    put:
      operationId: setChatPresence
      tags:
        - Chats
      summary: Update chat presence
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - state
              properties:
                state:
                  type: string
                  description: Presence state
                  enum:
                    - typing
                    - recording
                    - paused
      responses:
        '204':
          description: Presence updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/presence/subscribe:
    put:
      operationId: subscribeChatsPresence
      tags:
        - Chats
      summary: Subscribe to chat presence updates
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Successfully subscribed to presence updates
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/ephemeral:
    put:
      operationId: updateChatEphemeral
      tags:
        - Chats
      summary: Set ephemeral message expiration
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - expiration
              properties:
                expiration:
                  type: string
                  description: Message expiration time
                  enum:
                    - 'off'
                    - 24h
                    - 7d
                    - 90d
      responses:
        '204':
          description: Ephemeral expiration set successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/mute:
    put:
      operationId: updateChatMute
      tags:
        - Chats
      summary: Mute chat
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type:
                    - string
                    - 'null'
                  description: Duration preset for muting the chat; omit or set to null to unmute
                  enum:
                    - 8h
                    - 1w
                    - always
                    - null
      responses:
        '204':
          description: Chat muted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/pin:
    put:
      operationId: updateChatPin
      tags:
        - Chats
      summary: Pin or unpin chat
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pinned
              properties:
                pinned:
                  type: boolean
                  description: Whether to pin or unpin the chat
      responses:
        '204':
          description: Chat pin status updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/archive:
    put:
      operationId: updateChatArchive
      tags:
        - Chats
      summary: Archive or unarchive chat
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - archived
              properties:
                archived:
                  type: boolean
                  description: Whether to archive or unarchive the chat
      responses:
        '204':
          description: Chat archive status updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/read:
    put:
      operationId: markChatAsRead
      tags:
        - Chats
      summary: Mark chat as read
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - read
              properties:
                read:
                  type: boolean
                  description: Whether to mark the chat as read
      responses:
        '204':
          description: Chat marked as read successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chats/{chatId}/clear:
    put:
      operationId: clearChat
      tags:
        - Chats
      summary: Clear all messages from chat
      description: Clears all messages from the specified chat.
      parameters:
        - name: chatId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Chat messages cleared successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts:
    get:
      operationId: getContacts
      tags:
        - Contacts
      summary: List all WhatsApp contacts
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: List of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createContact
      tags:
        - Contacts
      summary: Create a new WhatsApp contact
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - fullName
                - firstName
              properties:
                id:
                  type: string
                  description: Contact ID
                fullName:
                  type: string
                  description: Contact's full name
                firstName:
                  type: string
                  description: Contact's first name
      responses:
        '204':
          description: Contact created successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contacts/{contactId}:
    get:
      operationId: getContact
      tags:
        - Contacts
      summary: Get contact information
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Contact information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateContact
      tags:
        - Contacts
      summary: Update contact information
      parameters:
        - name: contactId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fullName
                - firstName
              properties:
                fullName:
                  type: string
                  description: Contact's full name
                firstName:
                  type: string
                  description: Contact's first name
      responses:
        '204':
          description: Contact updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups:
    get:
      operationId: getGroups
      tags:
        - Groups
      summary: List all WhatsApp groups
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: List of groups
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Group ID
                    name:
                      type: string
                      description: Group name
                    description:
                      type: string
                      description: Group description
                    picture:
                      type: string
                      description: Group picture URL
                    inviteLink:
                      type: string
                      description: Group invite link
                    participants:
                      type: array
                      items:
                        type: string
                        description: Group participant
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroup
      tags:
        - Groups
      summary: Create a new WhatsApp group
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - participants
              properties:
                name:
                  type: string
                  description: Group name
                participants:
                  type: array
                  items:
                    type: string
                    description: Group participant
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Group ID
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}:
    get:
      operationId: getGroup
      tags:
        - Groups
      summary: Get group information
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Group information
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Group ID
                  name:
                    type: string
                    description: Group name
                  description:
                    type: string
                    description: Group description
                  picture:
                    type: string
                    description: Group picture URL
                  inviteLink:
                    type: string
                    description: Group invite link
                  participants:
                    type: array
                    items:
                      type: string
                      description: Group participant
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/leave:
    put:
      operationId: leaveGroup
      tags:
        - Groups
      summary: Leave group
      description: Leave a group. If you are the only member, the group will be deleted.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Successfully left the group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/description:
    put:
      operationId: setGroupsDescription
      tags:
        - Groups
      summary: Update group description
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
              properties:
                description:
                  type: string
                  description: New group description
      responses:
        '204':
          description: Group description updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/name:
    put:
      operationId: setGroupsName
      tags:
        - Groups
      summary: Update group name
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: New group name
      responses:
        '204':
          description: Group name updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/picture:
    post:
      operationId: createGroupsPicture
      tags:
        - Groups
      summary: Set group picture
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - pictureBase64
              properties:
                pictureBase64:
                  type: string
                  description: Base64 encoded image data
      responses:
        '201':
          description: Group picture updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Picture ID
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/invite-link:
    get:
      operationId: getGroupInviteLink
      tags:
        - Groups
      summary: Get group invite link
      description: Get the invite link for a group. Optionally reset to generate a new link.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: reset
          in: query
          required: false
          schema:
            type: string
            enum:
              - '1'
          description: Set to '1' to revoke the current link and generate a new one
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Group invite link
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteLink:
                    type: string
                    description: The group invite link
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/announce:
    put:
      operationId: setGroupAnnounce
      tags:
        - Groups
      summary: Set group announce mode
      description: When enabled, only admins can send messages to the group.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - announce
              properties:
                announce:
                  type: boolean
                  description: Whether to enable announce mode (only admins can send messages)
      responses:
        '204':
          description: Group announce mode updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/locked:
    put:
      operationId: setGroupLocked
      tags:
        - Groups
      summary: Set group locked mode
      description: When enabled, only admins can edit group info (name, description, picture).
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - locked
              properties:
                locked:
                  type: boolean
                  description: Whether to lock group settings (only admins can edit group info)
      responses:
        '204':
          description: Group locked mode updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/join-approval:
    put:
      operationId: setGroupJoinApproval
      tags:
        - Groups
      summary: Set group join approval mode
      description: When enabled, join requests require admin approval.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - joinApproval
              properties:
                joinApproval:
                  type: boolean
                  description: Whether to require admin approval for join requests
      responses:
        '204':
          description: Group join approval mode updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/member-add-mode:
    put:
      operationId: setGroupMemberAddMode
      tags:
        - Groups
      summary: Set who can add members
      description: Control whether all members or only admins can add new participants.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - onlyAdmins
              properties:
                onlyAdmins:
                  type: boolean
                  description: When true, only admins can add members. When false, all members can add.
      responses:
        '204':
          description: Group member add mode updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/join/link:
    post:
      operationId: joinGroupWithLink
      tags:
        - Groups
      summary: Join group via invite link
      description: Join a group using an invite link code (the part after chat.whatsapp.com/).
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: The invite link code (e.g., "AbCdEfGhIjK" from https://chat.whatsapp.com/AbCdEfGhIjK)
            example:
              code: AbCdEfGhIjKlMnOp
      responses:
        '200':
          description: Successfully joined group
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupId:
                    type: string
                    description: The JID of the joined group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/join/invite:
    post:
      operationId: joinGroupWithInvite
      tags:
        - Groups
      summary: Join group via invite message
      description: Join a group using details from a group invite message.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - groupId
                - inviterId
                - code
              properties:
                groupId:
                  type: string
                  description: The group JID
                inviterId:
                  type: string
                  description: The JID of the user who sent the invite
                code:
                  type: string
                  description: The invite code from the message
                expiration:
                  type: integer
                  format: int64
                  description: The invite expiration timestamp (Unix seconds)
      responses:
        '200':
          description: Successfully joined group
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupId:
                    type: string
                    description: The JID of the joined group
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/requests:
    get:
      operationId: getGroupsRequests
      tags:
        - Groups
      summary: List pending join requests
      description: Get the list of users who have requested to join the group (when join approval is enabled).
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: List of pending join requests
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                      description: JID of the user requesting to join
                    requestedAt:
                      type: string
                      format: date-time
                      description: When the request was made
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateGroupsRequests
      tags:
        - Groups
      summary: Approve or reject join requests
      description: Approve or reject pending join requests for a group.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participants
                - action
              properties:
                participants:
                  type: array
                  items:
                    type: string
                  description: List of user JIDs to approve or reject
                action:
                  type: string
                  enum:
                    - approve
                    - reject
                  description: Action to perform on the join requests
            examples:
              approve:
                summary: Approve join requests
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: approve
              reject:
                summary: Reject join requests
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: reject
      responses:
        '204':
          description: Join requests updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/{groupId}/participants:
    put:
      operationId: updateGroupsParticipants
      tags:
        - Groups
      summary: Manage group participants
      description: Add, remove, promote, or demote participants in a group. Requires admin privileges for most actions.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participants
                - action
              properties:
                participants:
                  type: array
                  items:
                    type: string
                  description: List of participant JIDs (e.g., "1234567890@s.whatsapp.net")
                action:
                  type: string
                  enum:
                    - add
                    - remove
                    - promote
                    - demote
                  description: Action to perform on the participants
            examples:
              addParticipants:
                summary: Add participants to group
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: add
              removeParticipants:
                summary: Remove participants from group
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: remove
              promoteToAdmin:
                summary: Promote participants to admin
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: promote
              demoteFromAdmin:
                summary: Demote admins to regular members
                value:
                  participants:
                    - 1234567890@s.whatsapp.net
                  action: demote
      responses:
        '204':
          description: Group participants updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /groups/invite/{inviteCode}:
    get:
      operationId: getGroupInfoFromInvite
      tags:
        - Groups
      summary: Get group info from invite code
      description: Preview group information from an invite code before joining. Use this to show group details to the user before they decide to join.
      parameters:
        - name: inviteCode
          in: path
          required: true
          schema:
            type: string
          description: The invite link code (e.g., "AbCdEfGhIjK" from https://chat.whatsapp.com/AbCdEfGhIjK)
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Group information from invite
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Group JID
                  ownerId:
                    type: string
                    description: Group owner JID
                  name:
                    type: string
                    description: Group name
                  created:
                    type: string
                    format: date-time
                    description: Group creation date
                  description:
                    type: string
                    description: Group description
                  isAnnounce:
                    type: boolean
                    description: Whether only admins can send messages
                  isLocked:
                    type: boolean
                    description: Whether only admins can edit group info
                  isEphemeral:
                    type: boolean
                    description: Whether ephemeral messages are enabled
                  ephemeralExpiration:
                    type: integer
                    format: int64
                    description: Ephemeral message expiration in seconds
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Participant JID
                        isAdmin:
                          type: boolean
                        isSuperAdmin:
                          type: boolean
                        displayName:
                          type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /instance/settings:
    get:
      operationId: getInstanceSettings
      tags:
        - Instance
      summary: Get instance settings
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Instance settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceSettings'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateInstanceSettings
      tags:
        - Instance
      summary: Update instance settings
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceSettingsRequest'
      responses:
        '204':
          description: Instance settings updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /instance/apikey:
    put:
      operationId: updateApiKey
      tags:
        - Instance
      summary: Update instance API key
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Instance settings
          content:
            application/json:
              schema:
                type: string
                description: The new API key
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /instance/restart:
    put:
      operationId: restartInstance
      tags:
        - Instance
      summary: Restart instance
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Instance restarted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /media/download:
    get:
      operationId: getMediaDownload
      tags:
        - Media
      summary: Download media file
      description: Download a media file that was received via webhooks. The id corresponds to the media.id field received in the webhook.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - name: id
          description: The ID of the media file to download
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Media file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/text:
    post:
      operationId: sendTextMessage
      tags:
        - Messages
      summary: Send a text message
      description: Send a text message to a WhatsApp contact or group. The response contains the MessageID, that can be used later for different actions, like reply, delete, forward, star, etc.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTextRequest'
            examples:
              simpleMessage:
                summary: Plain text
                value:
                  to: 1234567890@s.whatsapp.net
                  text: Hello world!
              withMentions:
                summary: Mentions one user
                value:
                  to: 1234567890@g.us
                  text: Hi @1234567890
                  mentions:
                    - 1234567890@s.whatsapp.net
              reply:
                summary: Replying to a previous message
                value:
                  to: 1234567890@s.whatsapp.net
                  text: On it!
                  replyTo: '01234567890123456'
                  replyToSenderId: 1234567890:12@s.whatsapp.net
      responses:
        '201':
          description: Message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique message ID
              example:
                id: '01234567890123456'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/link:
    post:
      operationId: sendLinkMessage
      tags:
        - Messages
      summary: Send a link message
      description: Send a link message to a WhatsApp contact or group. The url contains the link. It can also contain a title and description and additionally a thumbnail (jpeg base64 encoded). The response contains the MessageID
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendLinkRequest'
            examples:
              minimal:
                summary: Minimal link
                value:
                  to: 1234567890@s.whatsapp.net
                  text: Check this link
                  url: https://example.com/article
              withPreview:
                summary: Link with preview details
                value:
                  to: 1234567890@g.us
                  text: Interesting read
                  url: https://example.com/blog/post-1
                  title: A neat blog post
                  description: This post explains things.
                  jpegThumbnail: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/wAALCAABAAEBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AVN//2Q==
      responses:
        '201':
          description: Link message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123457'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/image:
    post:
      operationId: sendImageMessage
      tags:
        - Messages
      summary: Send an image message
      description: Send an image message to a WhatsApp contact or group. The image can be sent as a URL (that will be downloaded and sent as an image) or as a base64 encoded string. The response contains the MessageID.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendImageRequest'
            examples:
              byURL:
                summary: Image by URL
                value:
                  to: 1234567890@s.whatsapp.net
                  imageURL: https://example.com/cat.jpg
                  mimeType: image/jpeg
                  caption: Cat pic
              byBase64ViewOnce:
                summary: Image by Base64 sent as view-once
                value:
                  to: 1234567890@g.us
                  imageBase64: /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/wAALCAABAAEBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AVN//2Q==
                  mimeType: image/png
                  caption: One-time secret
                  viewOnce: true
      responses:
        '201':
          description: Image message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123458'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/video:
    post:
      operationId: sendVideoMessage
      tags:
        - Messages
      summary: Send a video message
      description: Send a video message to a WhatsApp contact or group. The video can be sent as a URL (that will be downloaded and sent as a video) or as a base64 encoded string. The response contains the MessageID.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVideoRequest'
            examples:
              byURL:
                summary: Video by URL with caption
                value:
                  to: 1234567890@s.whatsapp.net
                  videoURL: https://example.com/clip.mp4
                  mimeType: video/mp4
                  caption: Watch this
              byBase64ViewOnce:
                summary: Video by Base64 as view-once
                value:
                  to: 1234567890@g.us
                  videoBase64: AAAAGGZ0eXBtcDQyAAAAAGlzb21pc28yAAAACGZyZWUAAAAIbWRhdA==
                  mimeType: video/mp4
                  viewOnce: true
      responses:
        '201':
          description: Video message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123458'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/sticker:
    post:
      operationId: sendStickerMessage
      tags:
        - Messages
      summary: Send a sticker message
      description: Send a sticker message to a WhatsApp contact or group. The sticker can be sent as a URL (that will be downloaded and sent as a sticker) or as a base64 encoded string. The response contains the MessageID.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendStickerRequest'
            examples:
              byURL:
                summary: Sticker by URL (static)
                value:
                  to: 1234567890@s.whatsapp.net
                  stickerURL: https://example.com/sticker.webp
                  mimeType: image/webp
                  isAnimated: false
              byBase64Animated:
                summary: Sticker by Base64 (animated)
                value:
                  to: 1234567890@g.us
                  stickerBase64: UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEAAQAcJYgCdAEO/hOMAAA=
                  mimeType: image/webp
                  isAnimated: true
      responses:
        '201':
          description: Sticker message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123459'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/audio:
    post:
      operationId: sendAudioMessage
      tags:
        - Messages
      summary: Send an audio message
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAudioRequest'
            examples:
              byURL:
                summary: Audio by URL
                value:
                  to: 1234567890@s.whatsapp.net
                  audioURL: https://example.com/audio.mp3
                  mimeType: audio/mpeg
              byBase64ViewOnce:
                summary: Audio by Base64 as view-once
                value:
                  to: 1234567890@g.us
                  audioBase64: SUQzBAAAAAAAI1RTU0UAAAAPAAADTGF2ZjU4Ljc2LjEwMAAAAAAAAAAAAAAA//tQAAAAAAAAAAAAAAAAAAAAWGluZwAAAA8AAAACAAABhgC7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7//////////////////////////////////////////////////////////////////8AAAAATGF2YzU4LjEzAAAAAAAAAAAAAAAAJAAAAAAAAAAAAYYNAAAAAAAAAAAAAAAAAAAA//tQAAAAAAAAAAAAAAAAAAAAWGluZwAAAA8AAAACAAABhgC7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7//////////////////////////////////////////////////////////////////8AAAAATGF2YzU4LjEzAAAAAAAAAAAAAAAAJAAAAAAAAAAAAYYNAAAAAAAAAAAAAAAAAAAA
                  mimeType: audio/mp3
                  viewOnce: true
      responses:
        '201':
          description: Audio message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123460'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/voice:
    post:
      operationId: sendVoiceMessage
      tags:
        - Messages
      summary: Send a voice message
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVoiceRequest'
            examples:
              byURL:
                summary: Voice by URL
                value:
                  to: 1234567890@s.whatsapp.net
                  voiceURL: https://example.com/ptt.ogg
              byBase64:
                summary: Voice by Base64
                value:
                  to: 1234567890@g.us
                  voiceBase64: T2dnUwACAAAAAAAAAABVnwAAAAAAAEctEk4BHgF2b3JiaXMAAAAAAUSsAAAAAAAAgLsAAAAAAAC4AU9nZ1MAAAAAAAAAAAAA
      responses:
        '201':
          description: Voice message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123461'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/document:
    post:
      operationId: sendDocumentMessage
      tags:
        - Messages
      summary: Send a document message
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDocumentRequest'
            examples:
              byURL:
                summary: Document by URL with caption
                value:
                  to: 1234567890@s.whatsapp.net
                  documentURL: https://example.com/report.pdf
                  fileName: report.pdf
                  caption: Monthly report
              byBase64:
                summary: Document by Base64
                value:
                  to: 1234567890@g.us
                  documentBase64: JVBERi0xLjQKJeLjz9MKMSAwIG9iago8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFI+PgplbmRvYmoKMiAwIG9iago8PC9UeXBlL1BhZ2VzL0tpZHNbMyAwIFJdL0NvdW50IDE+PgplbmRvYmoKMyAwIG9iago8PC9UeXBlL1BhZ2UvTWVkaWFCb3hbMCAwIDYxMiA3OTJdL1BhcmVudCAyIDAgUj4+CmVuZG9iagp4cmVmCjAgNAowMDAwMDAwMDAwIDY1NTM1IGYgCjAwMDAwMDAwMTUgMDAwMDAgbiAKMDAwMDAwMDA2OCAwMDAwMCBuIAowMDAwMDAwMTI1IDAwMDAwIG4gCnRyYWlsZXIKPDwvU2l6ZSA0L1Jvb3QgMSAwIFI+PgpzdGFydHhyZWYKMjA1CiUlRU9G
                  fileName: numbers.xlsx
      responses:
        '201':
          description: Document message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123462'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/contact:
    post:
      operationId: sendContactMessage
      tags:
        - Messages
      summary: Send a contact message
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendContactRequest'
            examples:
              withDisplayName:
                summary: Contact with display name
                value:
                  to: 1234567890@s.whatsapp.net
                  displayName: Jane Doe
              withVCard:
                summary: Contact using vCard
                value:
                  to: 1234567890@g.us
                  vCard: |
                    BEGIN:VCARD
                    VERSION:3.0
                    N:Doe;Jane;;;
                    FN:Jane Doe
                    TEL;TYPE=CELL:+19876543210
                    END:VCARD
      responses:
        '201':
          description: Contact message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123463'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/location:
    post:
      operationId: sendLocationMessage
      tags:
        - Messages
      summary: Send a location message
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendLocationRequest'
            examples:
              basic:
                summary: Basic location
                value:
                  to: 1234567890@s.whatsapp.net
                  latitude: 37.7749
                  longitude: -122.4194
              withDetails:
                summary: Location with name and address
                value:
                  to: 1234567890@g.us
                  latitude: 51.5034
                  longitude: -0.1276
                  name: Big Ben
                  address: Westminster, London SW1A 0AA, UK
                  url: https://maps.google.com/?q=Big+Ben
      responses:
        '201':
          description: Location message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123464'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/reaction:
    post:
      operationId: sendReactionMessage
      tags:
        - Messages
      summary: Send a reaction to a message
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReactionRequest'
            examples:
              thumbsUp:
                summary: React with thumbs up
                value:
                  to: 1234567890@s.whatsapp.net
                  senderId: 1234567890@s.whatsapp.net
                  reaction: 👍
              heart:
                summary: React with heart in a group chat
                value:
                  to: 1234567890@g.us
                  senderId: 9876543210@s.whatsapp.net
                  reaction: ❤️
      responses:
        '201':
          description: Reaction sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123465'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/text:
    put:
      operationId: updateMessagesText
      tags:
        - Messages
      summary: Edit a text message
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTextRequest'
            examples:
              editText:
                summary: Edit text content
                value:
                  to: 1234567890@s.whatsapp.net
                  text: Updated message
      responses:
        '201':
          description: Message edited successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
              example:
                id: '01234567890123466'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/read:
    put:
      operationId: updateMessagesRead
      tags:
        - Messages
      summary: Mark a message as read
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkMessageAsReadRequest'
            example:
              chatId: 1234567890@s.whatsapp.net
              senderId: 1234567890@s.whatsapp.net
              receiptType: read
      responses:
        '204':
          description: Message marked as read successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/star:
    put:
      operationId: updateMessagesStar
      tags:
        - Messages
      summary: Star a message
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StarMessageRequest'
            example:
              chatId: 1234567890@s.whatsapp.net
              senderId: 1234567890@s.whatsapp.net
      responses:
        '204':
          description: Message starred successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/delete:
    put:
      operationId: updateMessagesDelete
      tags:
        - Messages
      summary: Delete a message
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageRequest'
            example:
              chatId: 1234567890@s.whatsapp.net
              senderId: 1234567890@s.whatsapp.net
      responses:
        '204':
          description: Message deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}/delete/forme:
    put:
      operationId: updateMessagesDeleteForme
      tags:
        - Messages
      summary: Delete a message for me only
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageForMeRequest'
            example:
              chatId: 1234567890@s.whatsapp.net
              senderId: 1234567890@s.whatsapp.net
              isFromMe: true
              Time: '2025-05-19T00:51:44.816Z'
      responses:
        '204':
          description: Message deleted for me successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/login/qr/image:
    get:
      operationId: getSessionLoginQrImage
      tags:
        - Session
      summary: Get QR code image for WhatsApp login
      description: Retrieve the QR code image for logging into WhatsApp. The image can be displayed to the user for scanning.
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: QR code image
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/login/qr/code:
    get:
      operationId: getSessionLoginQrCode
      tags:
        - Session
      summary: Get QR code string for WhatsApp login
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: QR code string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateQRCodeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/login/code/{phone}:
    get:
      operationId: getSessionLoginCode
      tags:
        - Session
      summary: Get login code for WhatsApp
      description: Retrieve the login code for the specified phone number. The code should be used in the Whatsapp app link process.
      parameters:
        - name: phone
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Login code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePairCodeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/status:
    get:
      operationId: getSessionStatus
      tags:
        - Session
      summary: Get WhatsApp session status
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: Session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionStatusResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /session/logout:
    post:
      operationId: createSessionLogout
      tags:
        - Session
      summary: Logout from WhatsApp
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '204':
          description: Logged out successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{phone}:
    get:
      operationId: getUser
      tags:
        - Users
      summary: Get user information
      parameters:
        - name: phone
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/InstanceIdHeader'
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                type: object
                properties:
                  jid:
                    type: string
                    description: User JID
                  name:
                    type: string
                    description: User name
                  status:
                    type: string
                    description: User status
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: The API key for authentication
  parameters:
    InstanceIdHeader:
      name: X-Instance-Id
      in: header
      required: true
      description: The ID of the WhatsApp instance
      schema:
        type: string
        example: YOUR_INSTANCE_ID
  schemas:
    Error:
      type: object
      required:
        - type
        - title
        - status
        - detail
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
        title:
          type: string
          description: A short, human-readable summary of the problem type
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this occurrence of the problem
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
    SessionStatusResponse:
      type: object
      properties:
        connected:
          type: boolean
          description: Whether the client is connected to WhatsApp
        isLoggedIn:
          type: boolean
          description: Whether the client is logged in
    GeneratePairCodeResponse:
      type: object
      properties:
        code:
          type: string
          description: The generated pair code
    GenerateQRCodeResponse:
      type: object
      properties:
        qrCode:
          type: string
          description: The generated QR code
    InstanceSettings:
      type: object
      properties:
        name:
          type: string
          description: The name of the instance
        description:
          type: string
          description: The description of the instance
        webhookUrl:
          type: string
          description: The webhook URL for the instance
        webhookAuthHeader:
          type: string
          description: The webhook authentication header for the instance
        webhookAuthValue:
          type: string
          description: The webhook authentication value for the instance
        pullMode:
          type: boolean
          description: Whether to use pull mode for events
        eventFilters:
          type:
            - array
            - 'null'
          description: Optional list of event types to receive via webhook. If null or not set, all events are received.
          items:
            type: string
            enum:
              - message
              - message_read
              - message_delete
              - message_star
              - message_history_sync
              - chat_setting
              - chat_presence
              - chat_push_name
              - chat_status
              - chat_picture
              - contact
              - group
              - user_presence
              - call_offer
              - call_terminate
              - call_accept
              - logged_error
              - logged_out
              - logged_in
              - initial_sync_finished
    InstanceSettingsRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the instance
        description:
          type: string
          description: The description of the instance
        webhookUrl:
          type: string
          description: The webhook URL for the instance
        webhookAuthHeader:
          type: string
          description: The webhook authentication header for the instance
        webhookAuthValue:
          type: string
          description: The webhook authentication value for the instance
        pullMode:
          type: boolean
          description: Whether to use pull mode for events
        eventFilters:
          type:
            - array
            - 'null'
          description: Optional list of event types to receive via webhook. If null or not set, all events are received.
          items:
            type: string
            enum:
              - message
              - message_read
              - message_delete
              - message_star
              - message_history_sync
              - chat_setting
              - chat_presence
              - chat_push_name
              - chat_status
              - chat_picture
              - contact
              - group
              - user_presence
              - call_offer
              - call_terminate
              - call_accept
              - logged_error
              - logged_out
              - logged_in
              - initial_sync_finished
    SendTextRequest:
      type: object
      required:
        - to
        - text
      properties:
        to:
          type: string
          description: Recipient's contact number or group. For contacts it should be the full phone number and can include the whatsapp suffix (e.g. 1234567890@s.whatsapp.net). For groups should contain the groups suffix (e.g. 123456789012344555234@g.us).
        text:
          type: string
          description: Message text content
        mentions:
          type: array
          items:
            type: string
          description: List of mentioned phone numbers. The numbers included in this list should be referenced as @<number> in the message text. (e.g. "Hello @1234567890").
        replyTo:
          type: string
          description: ID of the message being replied to
        isForwarded:
          type: boolean
          description: Whether the message is forwarded (if true, it will be marked as forwarded in WhatsApp)
        replyToSenderId:
          type: string
          description: The ID of the sender of the message being replied to. Should be set when replyTo is specified.
        ephemeralExpiration:
          type: string
          description: Custom expiration time for this message, overriding the chat's ephemeral settings.
          enum:
            - 24h
            - 7d
            - 90d
    SendLinkRequest:
      type: object
      required:
        - to
        - text
        - url
      properties:
        to:
          type: string
          description: Recipient's contact number or group. For contacts it should be the full phone number and can include the whatsapp suffix (e.g. 1234567890@s.whatsapp.net). For groups should contain the groups suffix (e.g. 123456789012344555234@g.us).
        text:
          type: string
        url:
          type: string
        title:
          type: string
        description:
          type: string
        jpegThumbnail:
          type: string
          format: byte
        mentions:
          type: array
          items:
            type: string
          description: List of mentioned phone numbers. The numbers included in this list should be referenced as @<number> in the message text. (e.g. "Hello @1234567890").
        replyTo:
          type: string
          description: ID of the message being replied to
        isForwarded:
          type: boolean
          description: Whether the message is forwarded (if true, it will be marked as forwarded in WhatsApp)
        replyToSenderId:
          type: string
          description: The ID of the sender of the message being replied to. Should be set when replyTo is specified.
        ephemeralExpiration:
          type: string
          description: Custom expiration time for this message, overriding the chat's ephemeral settings.
          enum:
            - 24h
            - 7d
            - 90d
    SendImageRequest:
      type: object
      required:
        - to
        - mimeType
      properties:
        to:
          type: string
          description: Recipient's contact number or group. For contacts it should be the full phone number and can include the whatsapp suffix (e.g. 1234567890@s.whatsapp.net). For groups should contain the groups suffix (e.g. 123456789012344555234@g.us).
        imageBase64:
          type: string
          format: byte
        imageURL:
          type: string
        mimeType:
          type: string
        caption:
          type: string
        mentions:
          type: array
          items:
            type: string
          description: List of mentioned phone numbers. The numbers included in this list should be referenced as @<number> in the message text. (e.g. "Hello @1234567890").
        replyTo:
          type: string
          description: ID of the message being replied to
        isForwarded:
          type: boolean
          description: Whether the message is forwarded (if true, it will be marked as forwarded in WhatsApp)
        viewOnce:
          type: boolean
        replyToSenderId:
          type: string
          description: The ID of the sender of the message being replied to. Should be set when replyTo is specified.
        ephemeralExpiration:
          type: string
          description: Custom expiration time for this message, overriding the chat's ephemeral settings.
          enum:
            - 24h
            - 7d
            - 90d
    SendVideoRequest:
      type: object
      required:
        - to
        - mimeType
      properties:
        to:
          type: string
          description: Recipient's contact number or group. For contacts it should be the full phone number and can include the whatsapp suffix (e.g. 1234567890@s.whatsapp.net). For groups should contain the groups suffix (e.g. 123456789012344555234@g.us).
        videoBase64:
          type: string
          description: Base64 encoded video content. This field is required if videoURL is not provided.
          format: byte
        videoURL:
          type: string
          description: URL of the video. This field is required if videoBase64 is not provided.
        mimeType:
          type: string
          description: MIME type of the video (e.g. "video/mp4").
        caption:
          type: string
          description: Caption for the video. It's displayed below the video in the chat.
        viewOnce:
          type: boolean
          description: Whether the video should be sent as a view once message (if true, the video will disappear after being viewed).
        mentions:
          type: array
          items:
            type: string
          description: List of mentioned phone numbers. The numbers included in this list should be referenced as @<number> in the message text. (e.g. "Hello @1234567890").
        replyTo:
          type: string
          description: ID of the message being replied to
        isForwarded:
          type: boolean
          description: Whether the message is forwarded (if true, it will be marked as forwarded in WhatsApp)
        replyToSenderId:
          type: string
          description: The ID of the sender of the message being replied to. Should be set when replyTo is specified.
        ephemeralExpiration:
          type: string
          description: Custom expiration time for this message, overriding the chat's ephemeral settings.
          enum:
            - 24h
            - 7d
            - 90d
    SendAudioRequest:
      type: object
      required:
        - to
        - mimeType
      properties:
        to:
          type: string
          description: Recipient's contact number or group. For contacts it should be the full phone number and can include the whatsapp suffix (e.g. 1234567890@s.whatsapp.net). For groups should contain the groups suffix (e.g. 123456789012344555234@g.us).
        audioBase64:
          type: string
          format: byte
        audioURL:
          type: string
        mimeType:
          type: string
        mentions:
          type: array
          items:
            type: string
          description: List of mentioned phone numbers. The numbers included in this list should be referenced as @<number> in the message text. (e.g. "Hello @1234567890").
        replyTo:
          type: string
          description: ID of the message being replied to
        isForwarded:
          type: boolean
          description: Whether the message is forwarded (if true, it will be marked as forwarded in WhatsApp)
        viewOnce:
          type: boolean
[...]
